# AutoModerator Configuration File
# WARNING: This file contains passwords. Be sure to take appropriate precautions
#          (e.g. Add to .gitignore or .hgignore and ensure only bot user has
#          access)

# Database Configuration
#   system: database system type (mysql, postgresql, or sqlite)
#   host: sql server ip or hostname
#   database: database name (sqlite: relative or absolute database file path)
#   username: server/database username (sqlite: ignored)
#   password: server/database password (sqlite: ignored)
#   log_retention_days: number of days to keep entries in the log table
[database]
system = postgresql
host = localhost
database = database_name
username = database_username
password = database_password
log_retention_days = 7

# Reddit Configuration
# user_agent: User agent reported by praw (username is recommended unless you 
#             know what you are doing. See: https://github.com/reddit/reddit/wiki/API)
# username: Reddit username to use
# password: Reddit password to use
# report_backlog_limit_hours: Number of hours to go back when retreiving mod
#                             report queue
# wiki_page_name: Name of the wiki page to read a subreddit's rules from
# last_message: UTC timestamp of the newest message seen by update_settings.py
#               This value will be modified by update_settings.py
# disclaimer: Will be appended to any comments/messages sent by the bot
# owner_username: Your main account's username. This username gets some special
#                 privileges for commands sent to the bot via PM
[reddit]
user_agent = reddit_username
username = reddit_username
password = reddit_password
report_backlog_limit_hours = 48
wiki_page_name = %(username)s
last_message = 1356998400
disclaimer = *[I am a bot](/r/AutoModerator/comments/q11pu/what_is_automoderator/), and this action was performed automatically. Please [contact the moderators of this subreddit](/message/compose?to=%%2Fr%%2F{{subreddit}}) if you have any questions or concerns.*
owner_username = your_username

# Log File Configuration
# For details, see: http://docs.python.org/2/library/logging.config.html
[loggers]
keys=root

[handlers]
keys=roothand

[formatters]
keys=rootform

[logger_root]
level=INFO
handlers=roothand

[handler_roothand]
class=StreamHandler
formatter=rootform
args=(sys.stdout,)

[formatter_rootform]
format=%(message)s
