# AutoModerator Configuration File
# WARNING: This file contains passwords. Be sure to take appropriate precautions
#          (e.g. Add to .gitignore or .hgignore and ensure only modbot user has
#          access)

# Database Configuration
#   system: database system type (mysql, postgresql, or sqlite)
#   host: sql server ip or hostname
#   database: database name (sqlite: relative or absolute database file path)
#   username: server/database username (sqlite: ignored)
#   password: server/database password (sqlite: ignored)
[database]
system = postgresql
host = localhost
database = database_name
username = database_username
password = database_password

# Reddit Configuration
# user_agent: User agent reported by praw (username is recommended unless you 
#             know what you are doing. See: https://github.com/reddit/reddit/wiki/API)
# username: Reddit username to use
# password: Reddit password to use
# report_backlog_limit_hours: Number of hours to go back when retreiving mod
#                             report queue
# user_cache_expiry_hours: Number of hours to use cached user data before re-fetching
# modmail_response_window_mins: Number of minutes to look back in modmail
#                               for users asking about their post being
#                               filtered when the bot automatically approved it
# comment_multireddit_size: Maximum number of subreddits for each comment multireddit
[reddit]
user_agent = reddit_username
username = reddit_username
password = reddit_password
report_backlog_limit_hours = 48
user_cache_expiry_hours = 24
modmail_response_window_mins = 5
comment_multireddit_size = 40

# Log File Configuration
# For details, see: http://docs.python.org/2/library/logging.config.html
[loggers]
keys=root

[handlers]
keys=roothand

[formatters]
keys=rootform

[logger_root]
level=INFO
handlers=roothand

[handler_roothand]
class=StreamHandler
formatter=rootform
args=(sys.stdout,)

[formatter_rootform]
format=%(message)s
